@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE e Edge */
  pointer-events: none;
  width: 0;
}

.root {
  pointer-events: none;
}

#root {
  pointer-events: none;
  width: 0;
}

body::-webkit-scrollbar {
  display: none;
}
